In [434]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [435]:
avocado_Inital=pd.read_csv("avocado.csv",index_col="Date")
avocado_Inital.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [436]:
# type(avocado_Inital)
avocado_Inital.shape

(18249, 13)

In [437]:
avocado_Inital=avocado_Inital.drop(avocado_Inital.columns[avocado_Inital.columns.str.contains('unnamed', case=False)],
       axis=1)

In [438]:
avocado_Inital.index = pd.to_datetime(avocado_Inital.index)
type(avocado_Inital.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [439]:
avocado_Inital=avocado_Inital.drop(['4046', '4225','4770','year'],axis=1) 
avocado_Inital.head()

,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,region
Date,,,,,,,,
2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,Albany
2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,Albany
2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,Albany
2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,Albany
2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,Albany

In [440]:
avocado_Inital = avocado_Inital[~avocado_Inital['region'].isin(['TotalUS','Midsouth','Northeast','SouthCentral','Southeast','West'])]

In [441]:
avocado_Inital.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Nashville', 'NewOrleansMobile', 'NewYork', 'NorthernNewEngland',
       'Orlando', 'Philadelphia', 'PhoenixTucson', 'Pittsburgh', 'Plains',
       'Portland', 'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke',
       'Sacramento', 'SanDiego', 'SanFrancisco', 'Seattle',
       'SouthCarolina', 'Spokane', 'StLouis', 'Syracuse', 'Tampa',
       'WestTexNewMexico'], dtype=object)

In [442]:
usa_regions_df=pd.read_csv("City and states.csv")
usa_regions_df.head()

                region  USA Region         Divison
0               Albany  Northeast     Mid-Atlantic
1              Atlanta      South   South Atlantic
2  BaltimoreWashington      South   South Atlantic
3                Boise        West        Mountain
4               Boston  Northeast      New England

In [447]:
usa_regions_df=usa_regions_df.reset_index['region']
avocado=pd.merge(usa_regions_df,avocado_Inital,right_index=True,left_on='region')
# avocado

TypeError: 'method' object is not subscriptable

In [ ]:
corrmat = avocado.corr()
plt.figure(figsize=(15,8))

ax = sns.heatmap(corrmat, cmap ="YlGnBu", vmin=-1, vmax=1,linewidths = 0.1,annot=True,square=True)
ax.set_ylim(6.0, 0)

In [ ]:
mask = np.zeros_like(corrmat)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(15,8))
    ax = sns.heatmap(corrmat, mask=mask,annot=True, square=True)
ax.set_ylim(6.0, 0)

In [ ]:
mask = np.zeros_like(corrmat)
mask[np.tril_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(15,8))
    ax = sns.heatmap(corrmat, mask=mask,annot=True, square=True)
ax.set_ylim(6.0, 0)

In [ ]:
g=sns.pairplot(avocado,hue='type')

In [ ]:
ax = sns.stripplot(x="type", y="Total Bags", data=avocado)
plt.title('Avacodo Sales by Type', size=22)
plt.xlabel('type',size=20)
plt.ylabel('Total Bags',size=20)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(15,8))
avocado.groupby(['type','region']).sum()['Total Bags'].plot()

In [ ]:
byCity = avocado.groupby('region')
byCity

In [ ]:
avocado.region.unique()